bleach==4.0.0
build==0.6.0.post1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
coverage==5.5
docutils==0.15.2
flake8==3.9.2
ibm-cos-sdk==2.7.0
ibm-cos-sdk-core==2.7.0
ibm-cos-sdk-s3transfer==2.7.0
ibm-watson-machine-learning==1.0.135
idna==2.10
importlib-metadata==4.6.3
jmespath==0.10.0
keyring==23.0.1
lomond==0.3.3
mccabe==0.6.1
numpy==1.20.1
packaging==20.9
pandas==1.2.5
pep517==0.11.0
pipdeptree==2.1.0
pkginfo==1.7.1
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.15.0
tabulate==0.8.9
tomli==1.2.1
tqdm==4.62.0
twine==3.4.2
urllib3==1.26.5
webencodings==0.5.1
zipp==3.5.0
