certifi==2020.12.5
chardet==4.0.0
docutils==0.15.2
ibm-cos-sdk==2.7.0
ibm-cos-sdk-core==2.7.0
ibm-cos-sdk-s3transfer==2.7.0
ibm-watson-machine-learning==1.0.115
idna==2.10
jmespath==0.10.0
lomond==0.3.3
modulegraph==0.18
numpy==1.20.1
packaging==20.9
pandas==1.0.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
tabulate==0.8.7
urllib3==1.26.5
